quests/14_send_email_inbulk.json
{
  "name": "14_send_email_inbulk",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        592
      ],
      "id": "1dd5a02d-aacf-40eb-85ba-6e6de29a4ee9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "19FhfsSnKyF5kZnvkpbk5zTtvZJjiUfz98kIxi-VYXZE",
          "mode": "list",
          "cachedResultName": "주소록",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19FhfsSnKyF5kZnvkpbk5zTtvZJjiUfz98kIxi-VYXZE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19FhfsSnKyF5kZnvkpbk5zTtvZJjiUfz98kIxi-VYXZE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        800
      ],
      "id": "c1a1d67f-9c75-4715-abed-8c0a9a71df6d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z6c1J3m8bAOqMcSV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['option gmail'] }}",
        "subject": "테스트] 예비 메일",
        "message": "={{ $('Extract from File').item.json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        224,
        800
      ],
      "id": "b2e00e3f-681f-4d46-8df1-616494304367",
      "name": "Send a message",
      "webhookId": "bd7a7153-61ef-4008-b693-e4635e3776e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "wviQKPjocttPLeYf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "=https://drive.google.com/drive/u/1/folders/17vZNTziYBJJSst2a1TDdHk8hOLeqbl-o",
            "mode": "url"
          }
        },
        "options": {
          "fields": [
            "mimeType",
            "name",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1104,
        592
      ],
      "id": "866436d4-0f57-40d8-bd70-6ec1220a1701",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a2kL7dvygGjfBu9X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        592
      ],
      "id": "40c5e21c-789c-40dd-a9be-47ba4c151a92",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "a5de6c20-b7ac-4f49-be36-f0654f4ac488"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "231ff9bf-f381-4171-89e1-5ed4266a8820",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/markdown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -624,
        608
      ],
      "id": "6ac7a3d4-1b9d-497d-ac2a-2f785f10cf5f",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -176,
        800
      ],
      "id": "daf21902-8d9e-4894-9454-78ffede3e08b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        800
      ],
      "id": "8211ba5f-2a07-41da-9fd2-99549656b20d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a2kL7dvygGjfBu9X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1eW9f43FW3Y-t5cieeBFRAExh-tjh7dO0",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        800
      ],
      "id": "9e14d88f-e560-45d2-b340-44f346b8fc09",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a2kL7dvygGjfBu9X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -144,
        592
      ],
      "id": "4a5a9036-736b-4524-8ee4-4eea2ef310d7",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a2kL7dvygGjfBu9X",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        592
      ],
      "id": "003186a6-d54b-4dfa-967e-e7a89f1b7b51",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "a2kL7dvygGjfBu9X",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28d2ba34-ffdd-4985-8cfe-ec15cba13f8c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1acbcdde7df0c03d314b686b5da11b41f899314b9a2a88745071b81b1ff16047"
  },
  "id": "blJZTIBvEHFzEAvc",
  "tags": []
}